<div id="wrapper" >
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="container" >
                <div class="row" ng-controller="MainCtrl">
                    <div class="col-md-6 col-md-offset-3 panel panel-default">
                        <h1 class="margin-base-vertical">Live feed example using C# WebSocket and Angualr JS?</h1>
                        <p> I was working on a realtime project based on websocket so i came to make this snippet to help others with C# WebSocket Server without using third party library which is more easy.</p>
                        <p> I have used Microsoft.Web.WebSocket library and to run locally you need Windows 8 OS having Websocket protocol enable in windows feture>IIS. Because previous version of IIS doesnt support Web Socket protocol. </p>
                      
                        <form class="margin-base-vertical">
                            <p class="input-group"> <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control input-lg" name="email" ng-model="name" placeholder="Your name" /> </p>
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg" ng-click='submit()'>Join</button>
                            </p>
                            </span>
                        </form>
                        <div class="margin-base-vertical"> <small class="text-muted">Find complete source code in <a href="https://github.com/pramodkn/livefeed">pramodkn.github.io/livefeed/</a>.</small> </div>
                    </div>
                    <!-- //main content -->
                </div>
                <!-- //row -->
            </div>
            <!-- //container -->
<!--
            <div ng-controller="ChatCtrl">
                <chat messages="messages" add-message="addMessage(textMessage)" text-message="textMessage"></chat>
            </div>
-->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->